.App-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Avenir;
}

.NotFound {
  text-align: center;
  margin-top: 140px;
}

.NotFound h1 {
  font-size: 50px;
  margin-bottom: 0;
  letter-spacing: -0.35px;
  line-height: 50px;
}

.NotFound p {
  margin-top: 5px;
}

.Home {
  text-align: center;
  margin-top: 140px;
}